<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar correo</title>
</head>
<body>
    <h1>Enviar Correo</h1>
    <p><a href="{% url 'inicio' %}">Volver al inicio</a></p>
    <form action="{% url 'enviar_correo' %}" method="post">
        {% csrf_token %}
        <label>Asunto:</label>
        <input type="text" name="asunto" required>
        <br>
        <label>Contenido:</label>
        <textarea name="contenido" required></textarea>
        <br>
        <input type="submit" value="Enviar correo">
    </form>
</body>
</html>