<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear html</title>
</head>
<body>
    <h1>Crear PDF</h1>
    <p><a href="{% url 'inicio' %}">Volver al inicio</a></p>
    <form action="{% url 'generatePDF' %}" method="get">
        {% csrf_token %}
        <label for="numero">Numero:</label>
        <input type="text" name="numero"> <br>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre"> <br>
        <label for="monto">Monto:</label>
        <input type="text" name="monto"> <br>
        <input type="submit" value="Crear PDF">
    </form>
</body>
</html>